body {
 background-image: url("file:///Users/amamykin/Desktop/SITE/images/fon06.jpg")
 width: 100%;}
#navigation li {
 display: inline;
 list-style-type: none;
 padding: 2%;}
#seo1 li {
 display: inline;
 padding: 1%;
 list-style-type: none;}
#contact {
 border: 1px solid black;
 text-align: center;
 float: left;
 font-style: italic;
 font-size: 100%;
 width: 60%;
 margin-left: 23%;
 margin-top: 1%;
 margin-bottom: 5%;}
#navigation {
 text-align: center;
 position: fixed;
 border: 1px solid #0088dd;
 opacity: 0.9;
 background-color: white;
 width: %;
 margin-top: %;
 margin-left: %;}
#navigation img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;}
#navigation img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);}
#slide {
 float: left;
 text-align: left;
 width: 100%;
 margin-left: %;
 margin-top: 1%;}
#seo1 { 
 border: 2px solid #0088dd;
 
 float: left;
 text-align: center;
 width: 60%;
 margin-left: 23%;
 margin-top: 1%;}
#seo1 b:hover{
 font-size: 110%;}
#colum0 { 
 border: 2px solid #0088dd;
 background-color:#447BD4;
 border-radius: 30%;
 float: left;
 text-align: center;
 width: 30%;
 margin-top: 1%;
 margin-left: 38%;
 padding-top: %;
 padding-bottom: %;}
#colum0 a {
 text-decoration: none;}
#colum0 p { 
 color: white;}
#colum0:hover { 
 background-color: #447BD4;
 font-size: 120%;}
#con0 {
 float: left;
 display: inline;
 color: white
 font-size: 150%;
 text-align: center;
 width: 60%;
 margin-left: 23%;
 margin-top: 1%;}
#con1 {
 float: left;
 background-color: white;
 text-align: center;
 width: 16%;
 margin-left: 15%;
 margin-top: 1%;
 padding-top: 2%;
 padding-bottom: 2%;}
#con2, #con3 {
 float: left;
 text-align: center;
 width: 16%;
 margin-left: 15%;
 margin-top: 4%;}
#img1 {
 border: 1px solid #0088dd;
 color: white
 display: inline;
 float: left;
 font-style: italic;
 text-align: center;
 font-size: 100%;
 width: 30%;
 margin-left: 7%;
 margin-top: 1%;
 border-radius: 10%;}
#img2, #img3 {
 border: 1px solid #0088dd;
 float: left;
 display: inline;
 font-style: italic;
 text-align: center;
 width: 30%;
 margin-left: 1%;
 margin-top: 1%;
 border-radius: 10%;}
#img5 { 
 border: 2px solid #0088dd; 
 float: left;
 text-align: center;
 width: 35%;
 margin-top: 1%;
 margin-left: 1%;}
#img6 { 
 border: 2px solid #0088dd;
 float: left;
 text-align: center;
 width: 40%;
 margin-top: 1%;
 margin-left: 1%;
 margin-bottom: 1%;
 border-radius: 10%;}
#img7 { 
 border-radius: 10%;
 font-style: italic;
 float: left;
 text-align: center;
 width: 70%;
 margin-top: 1%;
 margin-left: 20%;
 padding-top: %;
 padding-bottom: %;}
#img8 {
 float: left;
 text-align: center;
 width: 15%;
 margin-top: 1%;
 margin-left: 1%;}
#img8 img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;}
#img8 img:hover{
 border: 2px solid #0088dd;
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);}
#img9 {
 float: left;
 text-align: center;
 width: 15%;
 margin-top: 1%;
 margin-left: 3%;
 margin-bellow: ;}
#img9 img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;}
#img9 img:hover{
 border: 2px solid #0088dd;
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);}
#img10 {
 float: left;
 text-align: center;
 width: 15%;
 margin-top: 1%;
 margin-left: 1%;}
#img10 img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;}
#img10 img:hover{
 border: 2px solid #0088dd;
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);}
#img12, #img13, #img14, #img15 {
 border: 2px solid #0088dd;
 float: left;
 text-align: left;
 width: 30%;
 border-radius: 10%;
 margin:1%;}
#img11 {
 float: left;
 text-align: center;
 width: 15%;
 margin-top: 1%;
 margin-left: 3%;}
#img11 img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;}
#img11 img:hover{
 border: 2px solid #0088dd;
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);}
#colum14 { 
 border: 2px solid #0088dd;
 background-color:#447BD4;
 border-radius: 30%;
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 1%;
 margin-left: 30%;
 margin-bottom: 5%;}
#colum14-modal {
 background-image: url("file:///Users/amamykin/Desktop/SITE/images/fon.jpg");
 padding-left: 20%;
 border: 2px solid #0088dd;
 background-color:#0088dd
 border-radius: 30%;}
#colum14-modal li {
 list-style-type: none;}
#colum14-modal label {
 color: white;}
.modal {
 position: absolute;
 z-index: 1000;}
.modal-close {
  cursor: pointer;}
 button.modal-close {
  background-color: #ed8e6c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 7px 10px 9px 10px;
  margin: 10px 0 0 0;
  float: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;}
 button.modal-close:hover {background-color: #ed612f;}
#window {
  background: #fff;
  text-align: center;}
#window a {
  margin: 3px;}
#colum15 { 
 border: 2px solid #0088dd;
 background-color:#447BD4;
 border-radius: 30%;
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 1%;
 margin-left: 1%;
 margin-bottom: 5%;}
#colum14:hover { 
 background-color: #4DDC00;
 font-size: 120%;}
#colum15:hover { 
 background-color: #4DDC00;
 font-size: 120%;}
#colum14 p { 
 color: white;}
#colum15 p { 
 color: white;}
#colum14 a {
 text-decoration: none;}
#colum15 a {
 text-decoration: none;}
#img16 {
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 1%;
 margin-bottom: 5%;
 margin-left: 1%;}
#colum16 { 
 font-style: italic;
 float: left;
 text-align: center;
 width: 70%;
 margin-top: 1%;
 margin-left: 17%;
 padding-top: %;
 padding-bottom: %;}
#img17 {
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 2%;
 margin-bottom: 1%;
 margin-left: 7%;}
#img18 {
 border: 2px solid #0088dd;
 float: left;

 border-radius: 10%;
 text-align: center;
 width: 40%;
 margin-top: 2%;
 margin-bottom: 1%;
 margin-left: 1%;}
#img18 li {
 list-style-type: none;
 padding: 2%;}
#img19 {
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 2%;
 margin-bottom: 1%;
 margin-left: 1%;}
#img20 {
 float: left;
 text-align: center;
 width: 50%;
 margin-top: 1%;
 margin-bottom: 1%;
 margin-left: 28%;}
#colum17 { 
 border: 2px solid #0088dd;
 background-color:#447BD4;
 border-radius: 30%;
 float: left;
 color: black;
 text-align: center;
 width: 25%;
 margin-top: 1%;
 margin-left: 27%;
 margin-bottom: 5%;}
#colum17:hover { 
 background-color: #4DDC00;
 font-size: 120%;}
#colum17 p2 { 
 color: white;}
#colum18 { 
 border: 2px solid #0088dd;
 background-color:#447BD4;
 border-radius: 30%;
 float: left;
 text-align: center;
 width: 25%;
 margin-top: 1%;
 margin-left: 1%;
 margin-bottom: 5%;}
#colum18:hover { 
 background-color: #4DDC00;
 font-size: 120%;}
#vid { 
 float: left;
 text-align: center;
 width: 30%;
 margin-top: 1%;
 margin-bottom: 1%;
 margin-left: 2%;}
#colum17 a {
 text-decoration: none;}
#colum17 p { 
 color: white;}
#colum18 a {
 text-decoration: none;}
#colum18 p { 
 color: white;






